.card {
    background-color: $darkBlue;
    margin-bottom: 1rem;
    border-radius: 10px; 
    height: 150px;

    @include breakpoint-up(desktop){
        margin-bottom: 0;
        height: auto;
    }

    .banner{
        height: 2.5rem;
    }

    .tracker{
        background-color: $darkBlue;
        border-radius: 10px;
        height: calc(100% - 2.5rem);
        padding: 0 1.8rem;

        //grid
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.8rem 0;

        @include breakpoint-up(desktop){
            grid-template-rows: 1fr fit-content(100%) 1fr;
        }

        &:hover{
            cursor: pointer;
            background-color: $desaturatedBlue;
        }

        .align-end{
            align-self: end;

            @include breakpoint-up(desktop){
                align-self: center;
            }
        }

        .justify-end{
            justify-self: end;
        }

        .activity{
            font-weight: 500;

            @include breakpoint-up(desktop){
                font-size: 0.9rem
            }
        }

        .current{
            font-size: 1.8rem;
            font-weight: 300;

            @include breakpoint-up(desktop){
                font-size: 2.5rem;
                grid-column: 1 / span 2;
            }
        }

        .previous{
            font-size: 0.9rem;
            color: $paleBlue;
            padding-top: 0.5rem;

            @include breakpoint-up(desktop){
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column: 1 / span 2;
                justify-self: start;
            }
        }
    }
}

.work{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1rem;
    // Trouver le bon code pour réutiliser
    // background-repeat et position sans les répéter
    // Autre classe ?
    background-color: $lightRedWork;
    background-image: url('/images/icon-work.svg');
}

.play{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1rem;
    background-color: $softBlue;
    background-image: url('/images/icon-play.svg');
}

.study{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1rem;
    background-color: $lightRed;
    background-image: url('/images/icon-study.svg');
}

.exercise{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1rem;
    background-color: $limeGreen;
    background-image: url('/images/icon-exercise.svg');
}

.social{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1rem;
    background-color: $violet;
    background-image: url('/images/icon-social.svg');
}

.self-care{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1rem;
    background-color: $softOrange;
    background-image: url('/images/icon-self-care.svg');
}