.profil__header {
  background-color: #5847eb;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

.profil__header .image-container {
  width: 80px;
}

.profil__header .image-container img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  border: 3px solid white;
}

.profil__report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  color: #bdc1ff;
  margin-left: 1rem;
}

.profil__report > span {
  margin-top: 0.5rem;
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
}

.profil__time {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.9rem;
  color: #bdc1ff;
}

.profil__time .time-choice:hover {
  cursor: pointer;
}

.card {
  background-color: #1c1f4a;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card:not(:first-child) {
  height: 150px;
}

.card .banner {
  height: 2.5rem;
}

.card .tracker {
  background-color: #1c1f4a;
  border-radius: 10px;
  height: calc(100% - 2.5rem);
  padding: 0 1.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0.8rem 0;
}

.card .tracker .align-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.card .tracker .justify-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.card .tracker .activity {
  font-weight: 500;
}

.card .tracker .current {
  font-size: 1.8rem;
  font-weight: 300;
}

.card .tracker .previous {
  font-size: 0.9rem;
  color: #6f76c8;
  padding-top: 0.5rem;
}

.work {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #ff8c66;
  background-image: url("/images/icon-work.svg");
}

.play {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #56c2e6;
  background-image: url("/images/icon-play.svg");
}

.study {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #ff5c7c;
  background-image: url("/images/icon-study.svg");
}

.exercise {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #4acf81;
  background-image: url("/images/icon-exercise.svg");
}

.social {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #7536d3;
  background-image: url("/images/icon-social.svg");
}

.self-care {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #f1c65b;
  background-image: url("/images/icon-self-care.svg");
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  max-width: 375px;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  color: white;
  background-color: #0f1424;
}

.hidden {
  display: none;
}

.active {
  color: white;
}
/*# sourceMappingURL=styles.css.map */