.profil__header {
  background-color: #5847eb;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

.profil__header .image-container {
  width: 80px;
}

@media (min-width: 700px) {
  .profil__header .image-container {
    min-width: 40%;
  }
}

.profil__header .image-container img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  border: 3px solid white;
}

@media (min-width: 700px) {
  .profil__header {
    height: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: fit-content(100%) 1fr;
        grid-template-rows: fit-content(100%) 1fr;
  }
}

.profil__report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  color: #bdc1ff;
  margin-left: 1rem;
}

.profil__report > span {
  margin-top: 0.5rem;
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 700px) {
  .profil__report > span {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 700px) {
  .profil__report {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 0;
  }
}

.profil__time {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.9rem;
  color: #6f76c8;
}

.profil__time .time-choice:hover {
  cursor: pointer;
  color: white;
}

@media (min-width: 700px) {
  .profil__time {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.5rem;
  }
}

@media (min-width: 700px) {
  .profil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  background-color: #1c1f4a;
  margin-bottom: 1rem;
  border-radius: 10px;
  height: 150px;
}

@media (min-width: 700px) {
  .card {
    margin-bottom: 0;
    height: auto;
  }
}

.card .banner {
  height: 2.5rem;
}

.card .tracker {
  background-color: #1c1f4a;
  border-radius: 10px;
  height: calc(100% - 2.5rem);
  padding: 0 1.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0.8rem 0;
}

@media (min-width: 700px) {
  .card .tracker {
    -ms-grid-rows: 1fr fit-content(100%) 1fr;
        grid-template-rows: 1fr fit-content(100%) 1fr;
  }
}

.card .tracker:hover {
  cursor: pointer;
  background-color: #6f76c8;
}

.card .tracker .align-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 700px) {
  .card .tracker .align-end {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.card .tracker .justify-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.card .tracker .activity {
  font-weight: 500;
}

@media (min-width: 700px) {
  .card .tracker .activity {
    font-size: 0.9rem;
  }
}

.card .tracker .current {
  font-size: 1.8rem;
  font-weight: 300;
}

@media (min-width: 700px) {
  .card .tracker .current {
    font-size: 2.5rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.card .tracker .previous {
  font-size: 0.9rem;
  color: #bdc1ff;
  padding-top: 0.5rem;
}

@media (min-width: 700px) {
  .card .tracker .previous {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.work {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #ff8c66;
  background-image: url("/images/icon-work.svg");
}

.play {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #56c2e6;
  background-image: url("/images/icon-play.svg");
}

.study {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #ff5c7c;
  background-image: url("/images/icon-study.svg");
}

.exercise {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #4acf81;
  background-image: url("/images/icon-exercise.svg");
}

.social {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #7536d3;
  background-image: url("/images/icon-social.svg");
}

.self-care {
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
  background-color: #f1c65b;
  background-image: url("/images/icon-self-care.svg");
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  max-width: 375px;
  height: 100%;
  padding: 1rem;
  color: white;
  background-color: #0f1424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  body {
    max-width: 1440px;
    height: 100vh;
    padding: 0;
    margin: auto;
  }
}

.container-section {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  .container-section {
    width: 70%;
    height: 55%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(auto, 230px) 3fr;
        grid-template-columns: minmax(auto, 230px) 3fr;
    gap: 1.5rem;
  }
}

@media (min-width: 700px) {
  .container-activities {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }
}

.hidden {
  display: none;
}

.active {
  color: white;
}

.height {
  height: auto;
}
/*# sourceMappingURL=styles.css.map */